<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log" value="logs/" />
	<timestamp key="logTimestamp" datePattern="MM-dd-yyyy'_'HHmmssSSS" />


	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log}/datatable.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log}/archived/intelnow-.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- <Target>System.out</Target> -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- <logger name="fileLogger" level="INFO"> <appender-ref ref="file" /> 
		</logger> -->
	<root level="INFO">
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</root>
</configuration>